
form.anch *:after,
form.anch *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
form.anch .form-item.form-type-radio,
form.anch .form-item.form-type-checkbox {
	position: relative;
	padding-left:1em;
}

form.anch .form-type-radio label
form.anch .form-type-checkbox label, {
	display: inline-block;
	position: relative;
	vertical-align: top;
	cursor: pointer;
}

form.anch input[type="checkbox"],
form.anch input[type="radio"],
form.anch label::before {
	width: 1.2em;
	height: 1.2em;
	top: -0.1em;
	left: 0;
	position: absolute;
	cursor: pointer;
}

form.anch input[type="checkbox"],
form.anch input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

form.anch label::before {
	content: '';
}

.anch .form-type-radio label::before {
	-webkit-border-radius:50%;
-moz-border-radius:50%;
border-radius: 50%;
} 

/* General SVG and path styles */

form.anch svg {
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	margin-top: 0;
	left: 0.1em;
	pointer-events: none;
}

form.anch svg path {
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* Specific input, SVG and path styles */

/* Circle */
form.anch.animated-checkbox-circle input[type="checkbox"],
form.anch.animated-radio-circle input[type="radio"],
form.anch.animated-radio-circle  .form-type-radio label::before,
form.anch.animated-checkbox-circle  .form-type-checkbox label::before {
	width: 0.5em;
	height: 0.5em;
	margin-top: 0;
	top:0.25em;
	left: 0.35em;
	position: absolute;
	border: none;
}










